<div>
{{#if email}}
  <h2>Welcome, {{firstName}} !</h2>
  <img src="../assets/images/profile/user.png" alt="profile image" style="width: 18rem; height:auto;">
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
</div>
