{{#if username}}
  <h2>Welcome, {{username}}!</h2>
  <p>This is your profile page my friend!<br>{{emil}}</p>
  <button>
    <a href="/">home</a>
  </button>
  <img src="../images/logo.png" alt="samo image" style="width: 30rem; height:auto;">

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}