<!-- Home slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home">
                <img src="assets/images/fashion/banner/display_new.jpeg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <a href="/product" class="btn btn-solid"
                                        style="margin-left: -9px; margin-top: 37px;">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="product-page(no-sidebar).html" class="bg-size blur-up lazyloaded"
                style="background-image: url(&quot;../assets/images/pro3/36.jpg&quot;); background-size: cover; background-position: center center; display: block;"
                tabindex="0"><img src="../assets/images/menu-banner.jpg" class="img-fluid blur-up lazyload bg-img"
                    alt="" style="display: none;"></a>
            <div class="home text-center">
                <img src="assets/images/fashion/banner/display1.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home slider end -->

<section class="banner-padding absolute-banner pb-0 ratio2_1">
    <div class="container absolute-bg">
        <div class="row partition2">
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/furniture/sofa.webp&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/furniture/sofa.webp" class="img-fluid blur-up bg-img lazyloaded"
                                alt="" style="display: none;">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/furniture/glasswear.jpeg&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/furniture/glasswear.jpeg"
                                class="img-fluid blur-up bg-img lazyloaded" alt="" style="display: none;">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="bg-size blur-up lazyloaded"
                            style="background-image: url(&quot;../assets/images/furniture/chair.webp&quot;); background-size: cover; background-position: center center; display: block;">
                            <img src="../assets/images/furniture/chair.webp" class="img-fluid blur-up bg-img lazyloaded"
                                alt="" style="display: none;">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="tools-brand">
    <div class="container">
        <div class="row bg-light">
            <div class="col-md-12">
                <div class="brand-6 no-arrow slick-initialized slick-slider"><button class="slick-prev slick-arrow"
                        aria-label="Previous" type="button" style="display: inline-block;">Previous</button>
                    <div class="slick-list draggable">
                        <div class="slick-track"
                            style="opacity: 1; width: 4972px; transform: translate3d(-1356px, 0px, 0px);">
                            <div class="slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/11.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/12.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/13.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/14.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/15.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/16.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="0">
                                                <img src="../assets/images/logos/9.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="0">
                                                <img src="../assets/images/logos/10.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="0">
                                                <img src="../assets/images/logos/11.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="0">
                                                <img src="../assets/images/logos/12.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="0">
                                                <img src="../assets/images/logos/13.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="0">
                                                <img src="../assets/images/logos/14.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/15.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/16.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/9.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/10.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/11.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/12.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/13.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/14.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/15.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1"
                                style="width: 226px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <div class="logo-block">
                                            <a href="#" tabindex="-1">
                                                <img src="../assets/images/logos/16.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><button class="slick-next slick-arrow" aria-label="Next" type="button"
                        style="display: inline-block;">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="instagram ratio_square">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <h2 class="title-borderless"># instagram</h2>
                <div class="slide-7 no-arrow slick-instagram slick-initialized slick-slider"><button
                        class="slick-prev slick-arrow" aria-label="Previous" type="button"
                        style="display: inline-block;">Previous</button>
                    <div class="slick-list draggable">
                        <div class="slick-track"
                            style="opacity: 1; width: 5520px; transform: translate3d(-1680px, 0px, 0px);">
                            <div class="slick-slide slick-cloned" data-slick-index="-7" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/2.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/3.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/3.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/4.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/4.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/5.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/5.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/6.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/6.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/7.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/7.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/8.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/8.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="0">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/1.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="0">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/2.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="0">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/3.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/3.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="0">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/4.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/4.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="0">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/5.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/5.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="0">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/6.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/6.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-active" data-slick-index="6" aria-hidden="false"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="0">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/7.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/7.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/8.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/8.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/1.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/1.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/2.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/2.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/3.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/3.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/4.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/4.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/5.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/5.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/6.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/6.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/7.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/7.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1"
                                style="width: 240px;">
                                <div>
                                    <div style="width: 100%; display: inline-block;">
                                        <a href="#" tabindex="-1">
                                            <div class="instagram-box bg-size"
                                                style="background-image: url(&quot;../assets/images/furniture/insta/8.jpg&quot;); background-size: cover; background-position: center center; display: block;">
                                                <img src="../assets/images/furniture/insta/8.jpg" class="bg-img"
                                                    alt="img" style="display: none;">
                                                <div class="overlay"><i class="fa fa-instagram"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><button class="slick-next slick-arrow" aria-label="Next" type="button"
                        style="display: inline-block;">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>