{{#each name}}
<img src={{images}}  style="height: 18rem;">
     <h2>{{name}}</h2> 
     <ul>
      <li>{{this}}</li>
     </ul>
 <button onclick="window.location.href='/singleproduct/{{id}}'">View Item</button> 
 </div>
   {{/each}}
</div>