<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Create a Product</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Login</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<section class="product-page section-b-space">
  <form action="/product/create" method="POST">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="theme-card">
            <div class="form-group">
              <label for="text">Product Name</label>
              <input type="text" name="name" class="form-control" id="product-name"
                placeholder="Enter product name" required="">
            </div>
          </div>
        </div>
      
          <div class="col-lg-3">
          <div class="form-group">
            <label for="review">Material</label>
            <input type="text" name="material" class="form-control" id="review"
              placeholder="material" required="">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="form-group">
            <label for="review">Product Price</label>
            <input type="text" name="price" class="form-control" id="review"
              placeholder="Enter product price" required="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="text">Quantity</label>
            <input type="text" name="quantity" class="form-control" id="product" placeholder="Enter product quantity"
              required="">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="review">Color</label>
            <input type="text" name="color" class="form-control" id="product" placeholder="Enter product color"
              required="">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="form-group">
            <label for="text">Product Brand</label>
            <input type="text" name="brand_name" class="form-control" id="product"
              placeholder="Enter product Brand" required="">
          </div>
        </div>
      
        {{!-- <div class="col-lg-3"> --}}
          <div class="col-lg-3 select_input">
            <label for="review">Product Image</label>
            <input type="file" name="image" class="form-control" id="product"
              placeholder="Enter product Image" required="">
          </div>

         <div class="col-lg-3">
          <div class="form-group">
            <label for="review">Product Instruction </label>
            <input type="text" name="care_instructions" class="form-control" id="review"
              placeholder="Enter product instruction" required="">
          </div>
        </div>

           <div class="col-lg-3">
          <div class="form-group">
            <label for="review">Discount</label>
            <input type="text" name="discount" class="form-control" id="review"
              placeholder="Enter product discount price" required="">
          </div>
        </div>
      </div>
         
      
 <div class="col-lg-3">
          <div class="form-group">
            <label for="">Product Category</label>
            <select name="product_category">
              {{#each categoryDB}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            </select>
          </div>
        </div>


          <div class="col-lg-12">
            <label for="review">Product Description</label>
            <textarea class="form-control mb-0" name="description" placeholder="Enter Product Description" id="exampleFormControlTextarea1"
              rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>

       
      <div style="display:flex; justify-content:space-evenly;margin-top: 2rem; ">
<button type="submit"  class="btn btn-solid w-auto">Create</button>
<button type="submit"  class="btn btn-solid w-auto">Reset</button>
      </div>
       
  </form>
  </div>
  </div>
  </form>
</section>