<div>
{{#each name}} 
    <img  src="{{image}}" alt="{{id}} product image" style="height: 18rem;"; >
    <h1>{{name}}</h1>
   <button onclick="window.location.href='/allproduct/{{id}}'">View products</button> 
   </div>
{{/each}}
</div>