body{
    margin: 0px;
    padding: 0px;
 
}

.product-box .cart-info.cart-wrap, .product-box .cart-wrap.cart-wrap, .product-wrap .cart-info.cart-wrap, .product-wrap .cart-wrap.cart-wrap {
    background-color: white !important;
    border-color: #5b3c2657 !important;
    border-style: solid !important;
    border-width: 0.1px !important;
}

.slick-slide {
    height: auto;
}






